body{
    background-color: rgb(227, 250, 250);
    }
    .container-navbar{
        background-color: rgba(186, 221, 221, 0.87);
    }
    .container-content1{
        background-color: rgb(186, 221, 221);
    }
    .container-footer{
        background-color: rgb(186, 221, 221);
    }
    .container-content1{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .image{
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image img{
       height: 100px;
       width: 100px;
       border-radius: 20%;
    }